window.Spina = {};

Trix.config.blockAttributes = Object.assign(Trix.config.blockAttributes, {
  heading2: {
    tagName: "h2",
    terminal: true,
    breakOnReturn: true,
    group: false
  },

  heading3: {
    tagName: "h3",
    terminal: true,
    breakOnReturn: true,
    group: false
  },

  heading4: {
    tagName: "h4",
    terminal: true,
    breakOnReturn: true,
    group: false
  },

  heading5: {
    tagName: "h5",
    terminal: true,
    breakOnReturn: true,
    group: false
  },

  heading6: {
    tagName: "h6",
    terminal: true,
    breakOnReturn: true,
    group: false
  }
});

Trix.config.lang = Object.assign(Trix.config.lang, {
  image: "Image",
  heading1: "H1",
  heading2: "H2",
  heading3: "H3",
  heading4: "H4",
  heading5: "H5",
  heading6: "H6"
});

Trix.config.toolbar = {
  getDefaultHTML: function() {
    let template = "<%= ActionController::Base.helpers.j Spina::Admin::AdminController.render(partial: 'spina/admin/shared/trix_toolbar') %>";

    return template.replaceAll(/\{\{lang\.(\w+)\}\}/g, function(_, attr) {
      return Trix.config.lang[attr]
    });
  }
};

Spina.TrixAttachment = class TrixAttachment {
  static imageSelect() {
    var toolbar_id = $(this).closest("trix-toolbar").attr("id");

    return $.getScript(
      "<%= Spina::Engine.routes.url_helpers.admin_media_picker_path %>" + ("?input=" + (toolbar_id) + "&mode=trix")
    );
  }

  static imageInsert(e) {
    var attachment;
    var labels = [];

    if (e.detail.alt !== "") {
      labels.push(("✍️ " + (e.detail.alt)));
    }

    if (e.detail.link_to_url !== "") {
      labels.push(("🔗 " + (e.detail.link_to_url)));
    }

    var label = labels.join("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");

    if (e.detail.link_to_url !== "") {
      attachment = new Trix.Attachment({
        content: ("<a href='" + (e.detail.link_to_url) + "' class='trix-attachment-spina-image' data-label='" + (label) + "'> <img src='" + (e.detail.url) + "' alt='" + (e.detail.alt) + "' /> </a>")
      });
    } else {
      attachment = new Trix.Attachment({
        content: ("<span class='trix-attachment-spina-image' data-label='" + (label) + "'> <img src='" + (e.detail.url) + "' alt='" + (e.detail.alt) + "' /> </span>")
      });
    }

    return this.editor.insertAttachment(attachment);
  }
};

document.addEventListener("trix-file-accept", function(e) {
  return e.preventDefault();
});

$(document).on(
  "click",
  "[data-trix-attribute=\"image\"]",
  Spina.TrixAttachment.imageSelect
);

$(document).on("image-insert", "trix-editor", Spina.TrixAttachment.imageInsert);

$(document).on("click", "a.trix-attachment-spina-image", function(e) {
  return e.preventDefault();
});
